<h1>Genre: <%= @genre.name %></h1>

<%= link_to 'Add', new_genre_path %>
<%= link_to 'Edit', edit_genre_path %>
<%= link_to 'Back', genres_path %>

<dl>
  <dt>
    <strong>Name: </strong>
    <%= @genre.name %>
  </dt>
</dl>
<dl>
  <dt>
    <strong>Movies in the Genre:</strong>
  </dt>
  <% @movies.each do |movie| %>
    <dt>
      <%= link_to movie.title, movie_path %>
    </dt>
  <% end %>
</dl>