<h1>Movie: <%= @movie.title %></h1>

<%= link_to 'Edit', edit_movie_path %>
<%= link_to 'Back', movies_path %>

<dl>
  <dt>
    <%= image_tag(@movie.image) if @movie.image.attached? %>
  </dt>
  <dt>
    <strong>Title: </strong>
    <%= @movie.title %>
  </dt>

  <dt>
    <strong>Release Year: </strong>
    <%= @movie.release_year %>
  </dt>
  
  <dt>
    <strong>Synopsis: </strong>
    <%= @movie.synopsis %>
  </dt>

  <dt>
    <strong>Country of Origin: </strong>
    <%= @movie.country_of_origin %>
  </dt>

  <dt>
    <strong>Duration in Minutes: </strong>
    <%= @movie.duration_in_minutes %>
  </dt>

  <dt>
    <strong>Director: </strong>
    <%= @movie.director.name %>
  </dt>

  <dt>
    <strong>Genre: </strong>
    <%= @movie.genre.name %>
  </dt>

  <dt>
    <strong>Release Status: </strong>
    <%= @movie.release_status.capitalize %>
  </dt>

  <dt>
    <%= button_to @movie.released? ? 'Set as Unreleased' : 'Set as Released', release_movie_path, {method: 'patch'} %>
  </dt>

  <dt>
    <strong>Publish Status: </strong>
    <%= @movie.publish_status.capitalize %>
  </dt>

  <dt>
    <%= button_to @movie.published? ? 'Set as Draft' : 'Set as Published', publish_movie_path, {method: 'patch'} %>
  </dt>
</dl>