<h1>Director: <%= @director.name %></h1>

<%= link_to 'Edit', edit_director_path %>
<%= link_to 'Back', directors_path %>

<dl>
  <dt>
    <strong>Name: </strong>
    <%= @director.name %>
  </dt>

  <dt>
    <strong>Nationality: </strong>
    <%= @director.nationality %>
  </dt>

  <dt>
    <strong>Birth Date: </strong>
    <%= @director.birth_date %>
  </dt>

  <dt>
    <strong>Favorite Genre: </strong>
    <%= @director.favorite_genre.name %>
  </dt>
</dl>

<dl>
  <dt>
    <strong>Directed Movies:</strong>
  </dt>
  <% @movies.each do |movie| %>
    <dt>
      <%= link_to movie.title, movie_path %>
    </dt>
  <% end %>
</dl>